$color-red: #FD5E5E;
$color-orange: #FF8B03;
$color-green: #1EDBD0;
$color-gray: #CFD7DF;
$color-black-gray: #8CA0B3;
$color-blue: #3387FF;
$color-blue-black: #555D85;
$color-white: #fff;
$color-black: #556677;
$color-line: #707070;
.cfff {
  color: #fff;
}

// 黑色
.c000 {
  color: #000;
}

.cccc {
  color: #ccc;
}

.c333 {
  color: #333;
}

.c666 {
  color: #666;
}

.c999 {
  color: #999;
}

.cf60 {
  color: #f60;
}

// 粉色
.pink {
  color: #fb2479;
}

.red {
  color: #ff0000;
}

.orange {
  color: #f60;
}

.green {
  color: #18A753;
}

.blue {
  color: #007AFF;
}

.black {
  color: #333;;
}

.color2 {
  color: #555;
}

.dark-yellow {
  color: #FFA406;
}