@mixin auto($display:false) {
  @if $display {
    display:$display;
  }
  margin-left:auto;
  margin-right:auto;
  &:after {
    content:'';
    display:block;
    overflow:hidden;
    clear:both;
    height:0;
  }
}

%clearfix {
  &:after {
    content:'';
    display:block;
    overflow:hidden;
    clear:both;
    height:0;
  }
}

/**
新弹性盒模式
*/
@mixin flex($h,$v,$flow:normal) {
  display         : flex;
  justify-content : $h;
  align-items     : $v;
  @if $flow != normal {
    flex-flow:$flow;
  }
}


%flexCenterCenter {
  @include flex(center,center,center);
}
%flexLeftTop {
  @include flex(flex-start, flex-start);
}
%flexLeftCenter {
  @include flex(flex-start, center);
}
%flexCenterTop {
  @include flex(center, flex-start);
}
%flexBetweenCenter {
  @include flex(space-between, center);
}

@mixin size($width, $height) {
  width:$width;
  height:$height;
}

@mixin square-size($width) {
  @include size($width, $width);
}
/**
鼠标划上去背景颜色改变
1、默认
2、划入
3、点击
$default:默认值颜色
$active:划上和点击颜色
 */
@mixin backgroundAction($default, $active) {
  $red : red($active);
  $green : green($active);
  $blue : blue($active);
  background-color :$default;
  transition:all .2s ease-in-out 0s;
  // 鼠标划上
  &:hover {
    color:#fff;
    background-color :rgb($red * 1.2, $green * 1.2, $blue * 1.2);
  }
  // 点击事件
  &:active {
    color:#fff;
    transition:all 0s ease-out 0s;
    background-color :rgb($red * 0.8, $green * 0.8, $blue * 0.8);
  }
}

@mixin borderAction($default, $active) {
  $red : red($active);
  $green : green($active);
  $blue : blue($active);
  border:1px solid $default;
  transition:all .2s ease-in-out 0s;
  // 鼠标划上
  &:hover {
    border: 1px solid rgb($red * 1.2, $green * 1.2, $blue * 1.2);
  }
  // 点击事件
  &:active {
    transition:all 0s ease-out 0s;
    border: 1px solid rgb($red * 0.8, $green * 0.8, $blue * 0.8);
  }
}



@mixin imageSet($img) {
  background-image:url('#{$baseImg}#{$img}.png');
  background-image: image-set('#{$baseImg}#{$img}.svg' 1x, '#{$baseImg}#{$img}.svg' 2x );
}

@mixin backgroundImage($img, $all:'') {
  background-image:url('#{$baseImg}#{$img}.png');
  background-image: image-set('#{$baseImg}#{$img}.svg' 1x, '#{$baseImg}#{$img}.svg' 2x );
}

//@mixin imageSetLogo($img) {
//  background-image:url('#{$baseImg}#{$img}.png');
//  background-image: image-set('#{$baseImg}#{$img}.png' 1x, '#{$baseImg}#{$img}.png' 2x );
//}

/**
缩写格式
 */
@mixin background($img, $all:'') {
  background: url('#{$baseImg}#{$img}') $all;
}