$imgRoot: '/images/client/';
/**
fafafasfasdf
asdf
as
dfas
df
asdf
asdf
asd

*/
.a {
    display: flex;
    color:#ff8b03;
    font-size:14px;
    vertical-align:baseline;
    font-style:normal;
}
.b {
    text-align:left;
}