$imgRoot: '/images/client/';
/**
yizhao-search-color-or
angeyizhao-search-col
or-orangeyizhao-search-
color-orangeyizhao-searc.
h-color-orangeyizhao-s
earch-color-orangeyizhao
-search-color-orangeyizh
ao-search-color-orangeyiz
hao-search-color-orang
eyizhao-search-color-orange
*/
.yizhao-search-color-orange {
    display: flex;
    color:#ff8b03;
    font-size:14px;
    vertical-align:baseline;
    font-style:normal;
}
.yizhao-align-left {
    text-align:left;
}
.yizhao-search-channel-block {
    position:fixed;
    right:14px;
    top:249px;
    width:127px;
    height:317px;
    padding:17px 0;
    font-size: 12px;
    color: #556677;
    background: #555D85;
    box-shadow: 0 2px 8px 0 #C6D2FA;
    border-radius: 2px;
    overflow:hidden;
    box-sizing:border-box;

    .yizhao-search-title {
        display:block;
        font-size:16px;
        line-height:16px;
        padding:0;
        margin:0 0 0 11px;;
        font-weight:normal;
        color:#fff;
        background:url('#{$imgRoot}search.png');
        background-size:14px 14px;
        background-repeat: no-repeat;
        background-position:left center;
        padding-left:21px;
    }

    .yizhao-search-channel-list {
        display:flex;
        align-items:center;
        flex-direction:column;
        width:100%;
        margin:26px  0 0 0;
        padding:0;

        .yizhao-search-channel-item-block {
            width:89px;
            height:67px;
            background: #FFFFFF;
            border-radius: 4px;
            list-style:none;
            margin:0 0 10px 0;
            padding:0;

            &:hover {
                background: #E6EEFC;
                cursor:pointer;
            }

            .yizhao-search-channel-name {
                position:relative;
                padding:0;
                margin:15px 10px 10px;
                font-style:normal;
                display:block;

               &.yizhao-search-channel-no-login {
                &:after {
                    content:'';
                    position:absolute;
                    top:-5px;
                    width:50px;
                    height:20px;
                    background-image: url('#{$imgRoot}no_login.png');
                    background-repeat: no-repeat;
                }
               }
            }
            .yizhao-search-channel-count {
                margin:0 10px;
                line-height:14px;
                font-weight:bold;
            }
        }
    }
}



.yizhao-dialog-bg {
    display:flex;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.3);
    z-index:1000000000;

    .yizhao-dialog-block {
        width:510px;
        min-height:360px;
        align-self:center;
        background-color: #fff;
        margin:auto;
        border-radius:4px;
        overflow:hidden;
        padding-bottom: 20px;

        .yizhao-dialog-header {
            display:flex;
            padding:18px 30px;
            justify-content:space-between;
            border-bottom: 1px solid #CFD7DF;

            .yizhao-dialog-title {
                position:relative;
                font-size: 16px;
                color: #506679;
                line-height:16px;
                padding-left:10px;

                &:before {
                    position:absolute;
                    left:0;
                    top:50%;
                    margin-top:-8px;
                    display:block;
                    width:5px;
                    height:16px;
                    background: #FF8B03;
                    border-radius: 8px;
                    content:"";
                    vertical-align:middle;
                }

            }
            .yizhao-dialog-close {
                width:18px;
                height:18px;
                background-image:url('#{$imgRoot}dialog_close.png');
                background-size: contain;
                background-repeat: no-repeat;
                cursor:pointer;

            }
        }

        .yizhao-dialog-content {
            padding-bottom:10px;
        }

        .yizhao-dialog-btn-group {
            display:flex;
            justify-content: center;
            padding:0 26px;

            &.yizhao-dialog-btn-center {
                justify-content: center;
            }
            &.yizhao-dialog-btn-right {
                justify-content:flex-end;
            }

            .yizhao-dialog-btn {
                width:150px;
                height:42px;
                border: 1px solid #3387FF;
                border-radius: 2px;
                background-color: #3387FF;
                color:#fff;
                font-size:14px;
                display:flex;
                align-items:center;
                justify-content:center;
                cursor:pointer;
                margin-left:10px;
                &:first-child {margin-left:0;}


                &.yizhao-dialog-cancel {
                    border: 1px solid #3387FF;
                    background-color: #fff;
                    color:#3387FF;
                }
            }

        }
    }
}


.yizhao-dialog-channel-logo {
   background-size: contain;
    background-repeat: no-repeat;
    width:168px;
    height:66px;
    margin:60px auto 0;

}
.yizhao-dialog-channel-logo-zhilian {
  background-image: url('#{$imgRoot}zhilian.png');
}
.yizhao-dialog-channel-logo-qiancheng {
   
  background-image: url('#{$imgRoot}zhilian.png');
}
.yizhao-dialog-channel-info {
    font-size: 16px;
    color: #506679;
    text-align:center;
    margin:15px auto 60px;
}

.yizhao-channel-login-bar-block,
.yizhao-channel-login-bar-fixed {
    color:#fff;
    width:100%;
    height:50px;
    z-index:10000000000000;
}
.yizhao-channel-login-bar-fixed {
    position:fixed;
    left:0;
    top:0;
    background: #3387FF;
    font-size:14px;
    box-shadow: 0 7px 9px 0 #A6C9FB;

    .yizhao-channel-login-bar-width {
        width:1000px;
        display:flex;
        height:100%;
        margin:0 auto;
        align-items:center;
        justify-content: space-between;
        line-height:14px;
        font-size:14px;
        color:#fff;
        .yizhao-channel-login-info {
            min-width:220px;
            padding-left:20px;
            display:flex;
            align-items: center;
            color:#fff;
            &:before {
                display:block;
                content:'';
                width:16px;
                height:16px;
                margin-right:6px;
                background-image:url('#{$imgRoot}tips.png');
                background-repeat:no-repeat;

            }
        }

        .yizhao-channel-login-checkbox {
            position:relative;
            display:flex;
            justify-content:flex-start;
            align-items:center;
            color:#fff;
            input[name="autoimport"] {
                position:absolute;
                opacity: 0 !important;
                width:100%;
                height:100%;
                top:0;
                left:0;

                &:checked + .yizhao-channel-login-checkbox-icon {
                    border:none;
                    background-image:url('#{$imgRoot}checkbox.png');
                    background-repeat:no-repeat;
                    background-size:contain;
                }
            }

            .yizhao-channel-login-checkbox-icon {
                margin-right:10px;
                width:14px;
                height:14px;
                border: 1px solid #FFFFFF;
                border-radius: 1.76px;
                box-sizing: border-box;

            }

        }

        // 未匹配到的搜索条件
        .yizhao-channel-no-find-list {
            flex:1;
            display:flex;
            height:58px;
            justify-content: flex-start;
            overflow:hidden;
            flex-wrap:wrap;
            align-items:flex-start;

            .yizhao-channel-no-find-item {
                padding:9px 10px;
                background: #FFFFFF;
                border-radius: 52px;
                margin:10px;
                font-size: 12px;
                color: #506679;
                text-align: left;
                white-space:nowrap;
            }
        }
    }

}



.yizhao-channel-resume-bar-block,
.yizhao-channel-resume-bar-fixed {
    width:100%;
    height:50px;
    z-index:10000000000000;
}
.yizhao-channel-resume-bar-fixed {
    position:fixed;
    left:0;
    top:0;
    background: #3387FF;
    font-size:14px;
    box-shadow: 0 7px 9px 0 #A6C9FB;

    .yizhao-channel-resume-bar-width {
        width:1000px;
        display:flex;
        height:100%;
        margin:0 auto;
        align-items:center;
        justify-content: space-between;
        line-height:14px;
        font-size:14px;
        color:#fff;

     

        .yizhao-download-resume {
            width:136px;
            height:36px;
            background: url('#{$imgRoot}downlaod_resume.png') 0 0/contain no-repeat scroll border-box border-box transparent;
            cursor:pointer;
        }

    }

}
// 有简历  已阅读  有下载简历小圆圈
.yizhao-radius-list {
    color:#fff;
    display:inline-block;

    .yizhao-radius-item {
        float:left;
        position:relative;
        display:block;
        width:38px;
        height:38px;
        font-size:22px;
        font-weight:bold;
        line-height:22px;
        display:flex;
        justify-content: center;
        align-items: center;
        cursor:pointer;
        margin-right:29px;
        font-size:0;

        width:20px;
        height:20px;
        display:inline-block;
        vertical-align: middle;
        text-align:center;
        line-height:20px;
        margin-right:6px;
        font-size:0;

        &:before {
            font-size:22px;
            display:block;
            content:attr(data-text);
            width:100%;
            height:100%;
            position:absolute;
            background-color: #FF8B03;
            overflow:hidden;
            border-radius:50%;
            border:4px solid #A6C9FB;
            text-align:center;
            line-height:38px;

            
            font-size:14px;
            border:none;
            line-height:20px;
        }

      

  

        &.yizhao-viewed {
            &:before {
                background: #1EDBD0;
            }

            .yizhao-radius-top-name,
            .yizhao-radius-top-ctent {
                flex:1;
            }

        }
        &.yizhao-download {
            &:before {
                background: #FC6B90;
            }
            .yizhao-radius-tip-item {
                justify-content: flex-start !important;
            }
            font {
                color:#cfd7df !important;
                padding:0 3px;
            }
            .yizhao-radius-tip-title {
                background:url('#{$imgRoot}/success.png') 26px center/13px 13px no-repeat ;
                text-indent:16px;

            }
        }

        &:hover  .yizhao-radius-tip-block {
            display:block !important;
        }
        .yizhao-radius-tip-block {
            display:none;
            position:absolute;
            top:30px;
            left:50%;
            color: #506679;
            transform:translateX(-20%);
            min-width:220px;
            //padding:20px;
            background-color: #fff;
            box-shadow: 0 0 16px 0 rgba(50,69,86,0.21);
            border-radius: 4px;
            z-index:22;

            &.yizhao-radius-w308 {
                width:308px;
            }

            // 小三角
            &:before {
                position:absolute;
                top:0;
                left:19%;
                width:10px;
                height:10px;
                content:'';
                display:block;
                background-color:#FFFFFF;
                transform:rotate(45deg) translateX(-50%);
                box-shadow: 0 0 16px 0 rgba(50,69,86,0.21);
                z-index:1;
            }

            &:after {
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                content:'';
                display:block;
                background-color:#FFFFFF;
                z-index:2;
                border-radius: 4px;
            }

            //标题
            .yizhao-radius-tip-title {
                position:relative;
                font-size: 14px;
                text-align: left;
                padding:16px 26px 16px; 
                line-height: 21px;
                z-index:30;
            }
            .yizhao-radius-tip-content {
                position:relative;
                z-index:30;
                width:100%;
                height:auto;
                font-size:12px;
                padding:0 26px 0;
                box-sizing:border-box;
                font-weight:normal;
                
                .yizhao-radius-tip-item {
                    display:flex;
                    justify-content:space-between;
                    margin-bottom:17px;
                    line-height:13px;
                    .yizhao-radius-top-name,
                    .yizhao-radius-top-ctent {
                        text-align:left;
                        //flex:1;
                    }

                    &.yizhao-download-tips {
                        flex-wrap:wrap;
                        background: #FCFBFB;
                        border: 1px solid #FD5E5E;
                        border-radius: 2px;
                        height:80px;
                        font-size: 12px;
                        color: #FD5E5E;
                        padding:13px 15px 0;
                        box-sizing:border-box;

                      

                        .yizhao-radius-download-item {
                            min-width:50%;
                            margin-bottom:15px;
                            text-align:left;
                        }
                    }
                }
            }

        }
    }
}

// 渠道的简历详情页面中顶部栏的定制样式
.yizhao-channel-resume-bar-custom {
    .yizhao-radius-item {
        float:left;
        position:relative;
        display:block;
        width:38px;
        height:38px;
        font-size:22px;
        font-weight:bold;
        line-height:22px;
        display:flex;
        justify-content: center;
        align-items: center;
        cursor:pointer;
        margin-right:29px;
        font-size:0;
    
        &:before {
            font-size:22px;
            display:block;
            content:attr(data-text);
            width:100%;
            height:100%;
            position:absolute;
            background-color: #FF8B03;
            overflow:hidden;
            border-radius:50%;
            border:4px solid #A6C9FB;
            text-align:center;
            line-height:38px;
    
        }
        & .yizhao-radius-tip-block {
            top:50px;
        }
    }
   
}

// 钱币box
.yizhao-dialog-coin-box{
  margin: 30px;
  padding:30px 15px;
  background: #F7F9FB;
  border: 1px solid #CFD7DF;
  border-radius: 4px;
  overflow: hidden;
  .yizhao-coin-title-block{
    overflow: hidden;
    .yizhao-coin-title-text{
      float: left;
      margin: 0 0 0 30px;
    }
  }

  .yizhao-coin-block{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:0 36px 0 56px;
    margin-top: 10px;
    .yizhao-coin-text{
      font-size: 12px;
      color: #506679;
      float: left;
      display: flex;
      align-items: center;
    }
    .yizhao-coin-red-text{
      color: #FD5E5E;
    }
    .yizhao-coin-icon{
      height: 21px;
      padding-left: 28px;
      font-size: 14px;
      background: url("#{$imgRoot}icon_coin.svg") no-repeat left center;
    }
  }


  .yizhao-coin-radio-box{
    width: 13px;
    height: 13px;
    display: inline-block;
    font-size: 0;
    letter-spacing: 0;
    position: relative;
    margin-right: 4px;
    &.radio-big-circle{
      float: left;
      width: 22px;
      height: 22px;
      input[type=radio]:checked+.yizhao-coin-radio-block{
        background: url("#{$imgRoot}icon_orange_active.svg") no-repeat !important;
      }
    }
    .yizhao-coin-radio-block{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: 1px solid #8CA0B3;
      border-radius: 50%;
      display: inline-block;
      font-size: 0;
      letter-spacing: 0;
      margin: 0;
    }
    input[type=radio]{
      opacity: 0 !important;
      z-index: 10002;
      cursor: pointer;
      &:checked+.yizhao-coin-radio-block{
        border: none;
        background: url("#{$imgRoot}icon_blue_active.svg") no-repeat;
        background-size: 100% 100%;
      }
    }
  }
}

