.toast-title {
  font-weight: bold;
}
.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #ffffff;
}
.toast-message a:hover {
  color: #cccccc;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.toast-top-center {
  top: 180px;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}
#toast-container {
  position: fixed;
  z-index: 999999;
  /*overrides*/
  width:100%;
  height:100vh;
  top:0;
  left:0;
  display:flex;
  justify-content:center;
  align-items:center;

}
#toast-container > div {
  position: absolute;
  top:50%;
  left:50%;
  overflow: hidden;
  margin-top:-25px;
  margin-left:-150px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  background-position: 15px center;
  background-repeat: no-repeat;
  box-shadow: 0 9px 20px rgba(0,0,0,0.2);
  border-radius: 30px;
  border:1px solid #D9D7E0;
  color: #000;
  opacity: 1;
}
#toast-container > div:hover {
  opacity: 1;
  cursor: pointer;
}
#toast-container > .toast-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}
#toast-container > .toast-error {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAkZJREFUOBGVlD1oU1EUx73vNVVSBz8agw4BBalbproUEshqwbQIftHFJYP6BgsVkwyBJJO6+AEGRx20UIyig4JJIHMGoQ6CIM1QUdRVJF/+Tsgt15f7Wnvhcc49///5v3Puue+pPZZVKBQmut3u/GAwSPPMKqWOYTFqE9vCVmOx2KtMJtPxpyt/IJvNniHhLokzfsy3/wxvpVwuvzDjrt5IBVRVZP+IZ1rHt7GHwM4nk8mpVCr1vtFoDIS7JShiiOa3EbBC5Mz1er39zWbznRCGLUub+K+tGf8ZpP1ztL+mZACdTmfdPDPAt+j8IHY5QG8VThh8XuPsv4RCoVPOaJr/DADiz1KptATpgU7QlthjKrnA/ruOiSXnOK0vOjhpExj5l3K53H1EPVNUxIhlwG6Td8Wf1+/3024ikSgBHPGD7E/XarVpqvHq9fphxD5oMbBlC19CYcVAfuEcDCBI+CGi18WRyjBBYkL57fDmscstiF7Ak4a/V/s2K1oTnMUm4IEAwtaZge+TSvP5vAzgmo0vWlJhywYSN8Wkzau2QZm5oiWCVTM48lcDBmCKPrHkvVSVSiXUbrc/Uu5JTeAlb/C/ERu7GiPOUzhT4AtGzkY0Gp0ZDoRWzgLaKtX8Ha3ruheLxeKz4c+BD/sT9zFM1tyOmRYC1d7jiO4I5Gic7/CW4zhyz3a1RCwej9/QSWN3kGuxyCckwic0yWYR2iB+k6v03MTHBAXkDzTJH2iBc02TOEvoKL5wv7Jv0Uk1EomseZ73R/jm+gvqE/2DojtGoAAAAABJRU5ErkJggg==') !important;
}
#toast-container > .toast-success {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAedJREFUOBGtVUsvQ1EQnjl1U4/EghBqI2FjYaU7EY2InXiUEjZW4g8Qy1riH0gstdXrGbGy6A9QO8+EYEFLwspGRMfM7T3NvdVomzqbc745M98877kIBVZPct54un0fRaBRvvYToE/UGD/zlmR80NbZcHDm3/gSuXOhE8i5NT45RpnMOhB05N+5MMIdKrWYCpn7TrnSIExh1RILrtF3Zq8omRixQ9EVG7HVPB59uO5qXGWlRY3L2HuTF6+1HztXJ2JjpWylKZFVsNCjxiV9zDbg7aqkNG2HiHhJQMeujLimbZ2NXUq6WS5ZdY0xkJ7eXVKAK7mkuKbCpezRyMn/OkhkQnY/En1pT8xVE1KvU1+4pDt+pxAQTa7sg0vGIJ/s8+XjkAgG8/T8Sg+tXCDCZnp6J4SGN+AkLUxGQ3lkXDn05eZHLgmgOZAIV6WCkUch5RF4LJUsS04kNZTPycYwfJM+j2pSLxgBZ82yaf6OTJtzAClsjQW3uBYzWpjdMd7nwRkzZH4LlgYUIxM9LlkEW2ITk0AUF4FrIWz3KTV72lRnlEJm2SKG/h5shCMkrOch7nc5KwTswf73T8/qsvUEIawXclySjG31M5Ybm4Wp7mWevfJJ2caytT1bKTujqPSB/UUo5JX8An4A+p79VNrmUiMAAAAASUVORK5CYII=') !important;
}
#toast-container > .toast-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}
#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.toast {
  background-color: #030303;
}
.toast-success {
  background-color: #fff;
}
.toast-error {
  background-color: #fff;
}
.toast-info {
  background-color: #fff;
}
.toast-warning {
  background-color: #fff;
}

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}